 @import "tailwindcss";

 
/* Hide scrollbar globally but keep scroll functionality */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

*::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}



:root {
  --color-bgCard: linear-gradient(
    131.28deg,
    #111827 0%,
    #0B0F19 100%
  );
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);


  
  --font-marcellus: var(--font-marcellus);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-playfairDisplay: var(--font-playfairDisplay);


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}


@theme {
  

  /* =======================
     COLOR TOKENS (UPDATED)
  ======================== */

  /* Background */
  --color-Base: #080C16;


  /* --color-bgCard: #FFFFFF; */

 


  /* Text Colors */
  /* --color-primaryText: #000000; */
  --color-primaryText: #1F1F1F;
  --color-secondaryText: #7588A3;

  /* Accent Colors */
  --color-accent: #4B49AC;
  --color-accentHover: #FA6300;
  --color-accentHoverSoft: #f7f8fa;
  
  --color-accent-blue: #3C83F6;

  --color-darkOrange: #FA6300;


  --color-accentActive: #FEE8D9;
  --color-accentSoft: #FFD6C4;

  /* Card Colors (your previous setup kept intact) */
  --color-primaryCardBg: #F9FAFB;
  --color-primaryCardText: #1E293B;
}


.cursor {
  display: inline-block;
  margin-left: 2px;
  color: #4ade80;
}
